.population-chart circle:hover{
   fill: blanchedalmond;

}

circle {
    fill: cornflowerblue;
    /* stroke: black; */
}

circle:hover {
    opacity: 50%;
}

.column {
    float: left;
    width: 50%;
    /* margin-left: 15px;
    margin-top: 15px; */
    height: 600px;
    /* font-size: 30%; */
    
    
}

.sub-column {
    float: left;
    width: 40%;
    margin-left: 15px;
    margin-top: 15px;
    height: 600px;
    /* font-size: 30%; */
    
    
}


